
<!-- Config menu -->
<!--<ul class="list-group">
    <li class="list-group-item clickable" title="{{v.name }}"
        ng-repeat="v in devices"
        ng-class="v.id == deviceId ? 'active': ''">
        <a ng-href="#{{activeUrl + v.id}}">(#{{v.id}}) {{v.name | cutText:true:30}}</a>
    </li>
</ul>-->

<ul class="list-group">
    <li><a ng-click="changeDevice($index)">Go to bottom</a></li>
    <li class="list-group-item clickable" title="{{v.name }}"
        ng-repeat="v in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]">
        <a id="anchor{{$index}}" class="anchor">ITEM {{$index}}</a>
    </li>
    <li id="bottom"> You're at the bottom!</li>
</ul>
<!--<div style="height: 2000px"><a ng-click="gotoBottom()">Go to bottom</a></div>
<div id="bottom">You found me!</div>-->
